@model DepartmentViewModels

<div class="form-group">
    <label asp-for="@Model.Code" class="col-form-label"></label>
    <input asp-for="@Model.Code" class="form-control" />
    <span asp-validation-for="@Model.Code" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<br />
<a asp-action="Index" class="btn btn-light">Back To List</a>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}